.navbar {
    transform: translateY(-50px);
    padding-bottom: 25px;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0;

    &:hover {
        animation: navHover 3s forwards;
    }
    @keyframes navHover {
        30% {
            transform:translateY(0px);
        }
        60% {

            transform:translateY(0px);
        }
        90% {

            transform:translateY(0px);
        }
    }


    
        
       
    .user {
        display: flex;
        text-align: center;
        font-size: 1.2rem;
        justify-content: space-between;
        min-width: 200px;

        button {
            padding: 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        
        .user-icon {
            color: wheat;
            background-color: red;
            padding: 10px;
            border: none;
            border-radius: 100px;
        }

        .nav-con {

            display: none;
            flex-direction: column;
        }
       
    }
}